<html lang='fr'>
  <head>
     <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
      a {
  text-decoration: none;
  list-style: none;
}

.d-flex {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center
}

.flex-4 {
  flex: 4;
}
.flex-1 {
  flex: 1;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: center;
}
.c-white {
  color: white;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-06 {
  font-size: 0.6rem;
}
.fst-italic {
  font-style: italic;
}
.c-primary {
  color: #ffc49b;
}
.c-secondary {
  color: #294c60;
}
.b-primary {
  background: #ffc49b;
}
.b-secondary {
  background: #294c60;
}
.b-whitesmoke {
  background: whitesmoke;
}
.c-whitesmoke {
  color: whitesmoke;
}

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.align-center {
  text-align: center;
}
.logo-top {
  width: 150px;
}
.logo-bottom {
  width: 150px;
}
.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}
.mt-2 {
  margin-top: 2px;
}
.p-1 {
  padding: 1px;
}
.p-5 {
  padding: 5px;
}
.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}
.py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}
.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.h-auto {
  height: auto;
}
.btn {
  border-radius: 5px;
  border: 'none';
}
.btn-lg {
  min-height: 3rem;
  font-size: 1.5rem;
}
.w-100 {
  width: 100%;
}

    </style>

  </head>
  <body>

<footer  style="width:100%">
<div style="width:100%;background: #294c60; padding:5px; display:flex">
  <div  style="flex:4">
    <h5 class="c-primary" style="color: #ffc49b;">Nous contacter ?</h5>
    <div class="fs-08 c-white w-100">
      Pendant les créneaux d &apos;ouverture </br> Lundi mardi et jeudi 
      vendredi
    </div>
    <div class="fs-08 c-white w-100">Tel : 04 74 90 78 80</div>
    <div class="fs-08 c-white w-100">Mail: ogec.cremieu@wanadoo.fr</div>
   
  </div>
  <div class="flex-1">
    <h5 class="text-center c-primary">Lien du site</h5>
    <div class='text-center'>
      <a href='https://www.ecole-st-augustin.fr'>
        <img
          src='https://www.ecole-st-augustin.fr/images/logo.png'
          alt="logo"
          class='logo-bottom'
        />
      </a>
    </div>
  </div>
</div>
<div class="py-1 px-2 fs-06 fst-italic text-justify c-secondary">
 Conformément à la réglementation relative à la protection des données personnelles, vous bénéficiez d'un droit d'accès, de rectification, d'effacement et de portabilité de vos informations personnelles. il suffit juste de les modifier dans votre espace personnel ou de contacter l'administrateur du site
</div>
</footer>
  </body>
</html>