a {
  text-decoration: none;
  list-style: none;
}

.d-flex {
  display: flex;
}

.flex-4 {
  flex: 4;
}
.flex-1 {
  flex: 1;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: center;
}
.c-white {
  color: white;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-06 {
  font-size: 0.6rem;
}
.fst-italic {
  font-style: italic;
}
.c-primary {
  color: #ffc49b;
}
.c-secondary {
  color: #294c60;
}
.b-primary {
  background: #ffc49b;
}
.b-secondary {
  background: #294c60;
}
.b-whitesmoke {
  background: whitesmoke;
}
.c-whitesmoke {
  color: whitesmoke;
}

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.align-center {
  text-align: center;
}
.logo-top {
  width: 150px;
}
.logo-bottom {
  width: 150px;
}
.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.p-1 {
  padding: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.h-auto {
  height: auto;
}
.btn {
  border-radius: 5px;
}
.btn-lg {
  min-height: 3rem;
  font-size: 1.5rem;
}
.w-100 {
  width: 100%;
}
