body {
  margin: 1rem;
  padding: 1rem;
}

header {
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  background: yellowgreen;
}

.suggestion-user-email-message {
  background: coral;
}
